# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
.venv/
venv/
env/

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore requirements.txt
requirements.txt
